<!DOCTYPE html>

<html lang="">

<head>
<title>Recibos</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/EstilosTablas" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">


<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left"> 
      <h1 class="logoname"><a href="/">Best  Neighbor</a></h1>
    </div>
    <nav id="mainav" class="fl_right"> 
      <ul class="clear">
        </ul>
      <a href="#">Perfil</a>
          <ul>
    </nav>
  </header>




<div class="wrapper row3">
  <main class="hoc container clear"> 
    <section class="principal-container">
      <section class="main">
          <h2 class="main__tittle">Pagos Principales</h2>
<center>
        </ul class="Icon-image">
        <ul class="nospace group btmspace -80 elements elements-four">
        </li>
        <li class="one_third">
            <div id="1">
                <image class="Icon-image" src="/Luz"/>
              </div>  
        </li>
          <li class="one_third">
            <div id="1" >
                <image class="Icon-image" src="/Agua"/>
  
              </div>  
          </li>
          <li class="one_third">
            <div id="1" >
                <image class="Icon-image" src="/Gas"/>
              </div>  
        </li> 
        </ul>
<center>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-7">
        <table class="table table-bordered table-hover" >
          <thead class="like-taresidente">
            <tr >
              <td><h3>n°</td>
              <td><h3>Tipo</td>
              <td><h3>Descripcion</td>
            </tr>
          </thead>
          <tbody>
            <% if (data) { %>
              <% for(var i = 0; i < data.length; i++) { %>
                <tr class="like-taresidente2">
                  <td><h3><%= (i + 1) %></td>
                    <td><h3><%= data[i].TIPOS %></td>
                    <td>
                      <h3>
                        <%= data[i].Titulo %>
                        <nav>
                          <%= data[i].Descrip %>
                        </nav>
                      </h3>
                    </td>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
 



        </section>

  </section>

    <div class="clear"></div>
  </main>
</div>