<!DOCTYPE html>
<!--
Template Name: Chillaid
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Best Neighbor</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/EstilosTablas" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">


  
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left"> 

      <h1 class="logoname"><a href="/INICIORES">Best  Neighbor</a></h1>

    </div>
    <nav id="mainav" class="fl_right"> 

      <ul class="clear">

        </ul>
        <!--<img  src="images/Usuarios/1.jpg"/>-->
      <a href="#">Perfil</a>
          <ul>

    </nav>
  </header>
</div>

<div class="wrapper row3">
  <main class="hoc container clear"> 
<section class="principal-container">
  <section class="main">
    <center><h2 class="main__tittle">Crear mis post</h2> </center>
<div >
  <div class="row">
    <div class="col-md-5">
      <center>      <div  style=" margin-bottom: 80px; margin-top: 70px;">
        <form action="/addpost" method="POST">
          <div>
            <input type="text" name="TITULO" placeholder="Titulo" class="like-taresidente3" autofocus > 
          </div>
          <div class="form-group">
            <input type="text" name="DESCRIPCION" placeholder="Descripcion" class="like-taresidente3" autofocus>
          </div>
          <button type="submit" class="like-taresidenteBott">
            <h3>Crear post</h3>
          </button>
        
        </form>
      </div>
    </center>


</section>

  <div class="clear"></div>
</main>
</div>

<%- include('partials/_footer') %>
