

                  <%         
                if (data[1].telefono == data[1].telefono) 
                  { %>
                    <h1>Redireccionando....</h1>
                    <META HTTP-EQUIV="REFRESH" CONTENT="1;/INICIORES">
                    <% }else {%>

                        <h1>Contraeña incorrecta</h1>
                        <META HTTP-EQUIV="REFRESH" CONTENT="1;/RES">
                        <% } %>